body	{
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	font-family: " Raleway", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0.01em 16px;
    word-break: break-all;
}

section {
	background-color: #f1f1f1;
}
header	{
}

h1	{
	font-size: 36px;
	margin: 0;
	font-weight: 400;
}

.navbar	{
	display: block;
	background-color: #f1f1f1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	padding: 0 0 10px 0;
	margin: 10px 0;
	border-bottom: 6px solid powderblue;
}

nav span	{
	margin-right: 16px;
}

nav a, .flash	{
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	background: powderblue;
    margin-top: 0;
}

section, aside {
	display: flex;
	flex-wrap: wrap;
}

a	{
	text-decoration:none;
	color: black;
}

a:hover	{
	background-color: darkgrey;
}
footer {
	background-color: #f1f1f1;
    width: 95vw;
    z-index: -1;
}
footer div {
    word-break: normal;
    min-width:150px;
    max-width:600px;
}

footer em	{
	display: block;
	text-align: right;
	font-family: Verdana, monospace;
	margin-right: 10px;
}

form	{
	box-sizing: inherit;
}

form div	{
	margin: 16px 0;
}

input	{
	width: 100%;
	border: 1px solid #ccc;
	padding: 8px;
}

input[type="checkbox"]	{
	width: auto;
}

form button	{
	background-color: black;
	color: white;
	padding:8px 16px;
}

button.form	{
	background-color: black;
	color: white;
	padding:8px 16px;
}

i	{
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 16px;
}

.form	{
	width: 90%;
	max-width: 600px;
}
