.page	{
	margin: 5px 0;
	display: inline-block;
	width:auto;
}

.page a	{
	border-left: 2px solid powderblue;
	display: inline-block;
	padding: 10px 16px;
}

#active	{
	background-color: black;
	color: white;
}

div.listPics	{
	background-color: white;
	border-left: 8px solid black;
	width: 30%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.listPics img	{
	display: block;
	vertical-align: middle;
	max-width:28vw;
	max-height:20vw;
}

.text	{
	padding-bottom: 16px;
}

.text h2    {
    margin: 0px;
    font-size: 1.1em;
}

.text span    {
    font-size: 0.7em;
}


.listPics:hover	{
	background-color: darkgrey;
}

.listPics a {
	display: block;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.picview	{
	background-color: white;
	border-left: 8px solid black;
}
.picview div	{
	margin-left:16px;
}

.picview p	{
	margin:8px 0;
}

.picview h3, h2	{
	margin:8px 0;
}

h1 em:hover    {
    background-color:white;
}
