<!-- page content -->
<!-- A wrapper for all the blog posts -->
<div class="posts">
	<h1 class="content-subhead">Title</h1>

	<!-- A single blog post -->
	<section class="post">
		<header class="post-header">

			<h2 class="post-title">Enter a Title Here</h2>

		</header>

		<div class="post-description">
			<p>
			troll
			</p>
		</div>
	</section>
</div>

<div class="posts">
	<h1 class="content-subhead">TEXT</h1>

	<section class="post">
		<header class="post-header">

			<h2 class="post-title">Paste Your Text Here</h2>

		</header>
	</section>
</div>
